<nav class="navigation">
  <a href="/" class="navigation__link">
    <!-- <img class="navigation__link__icon" data-src="../assets/logo-white.png" alt="icon"></img> -->
    <h1 class="navigation__link__icon navigation__list__link">FLOEMA</h1>
  </a>
  <ul class="navigation__list">

    <% ctx.navigation.data.list.forEach(item => { %>
      <li class="navigation__list__item">
          <a href="<%= ctx.linkHandler(item.link) %>" class="navigation__list__link"><%= item.text %></a>
      </li>
    <% }) %>

  </ul>
</nav>
