<div class="preloader flex-center">
  <p class="preloader__text">
    <%- ctx.preloader.data.title.replace(/\n/g,'<br>') %>
  </p>
  <div class="preloader__number__wrapper"><span class="preloader__number">0%</span></div>
</div>
