@use '../utils/mixins.scss' as *;
@use '../utils/functions.scss' as *;
@use '../utils/variables.scss' as *;
@use '../utils/responsive.scss' as *;

.navigation{
  @include cover;

  color: $color-white;
  z-index: z('navigation');
  pointer-events: none;
}
.navigation__link{
  position: absolute;
  left: 4rem;
  top: 4rem;
  // width: 12.8rem;
  height: 3rem;
  pointer-events: auto;

  @include respond-to('<small'){
    left: 5rem;
    top: 5rem;
    width: 27.9rem;
    height: 4.3rem;
  }
}
.navigation__link__icon{
  height: 100%;
}

.navigation__list{}

.navigation__list__item{
  pointer-events: auto;
  position: absolute;
  right: 4rem;
  top: 4rem;

  @include respond-to('<small'){
    right: 5rem;
    top: 5rem;
  }
}

.navigation__list__link{
  @include title-20;
  font-size: 4rem;
  display: block;
}
