@use '../../utils/mixins.scss' as *;
@use '../../utils/responsive.scss' as *;

.about__content{
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  // width: 125.8rem;


  &:nth-child(5) {
    justify-content: flex-end;
    margin: unset;
  }
  &:nth-child(8) {
    justify-content: flex-start;
    margin: unset;
  }

  @include respond-to('<small'){
    &:nth-child(5) {
      justify-content: unset;
      margin: auto;
    }
    &:nth-child(8) {
      justify-content: unset;
      margin: auto;
    }
  }

}
.about__content__wrapper{
  display: flex;


  .about__content--right & {
    flex-direction: row-reverse;

  }

  @include respond-to('<small'){
    width: 60.9rem;

    .about__content:nth-child(3) &{
      flex-direction: column-reverse;
    }

    .about__content:nth-child(5) &{
      flex-direction: column;
    }

    .about__content:nth-child(8) &{
      flex-direction: column-reverse;
    }
    .about__content:nth-child(9) &{
      flex-direction: column-reverse;
    }
  }
}

.about__content__box {
  display: flex;

  @include respond-to('<small'){
    .about__content:nth-child(3) &{
      margin-top: 10rem
    }
    .about__content:nth-child(5) &{
      margin-bottom: 10rem
    }
    .about__content:nth-child(8) &{
      margin-top: 10rem
    }
    .about__content:nth-child(9) &{
      margin-top: 10rem
    }
  }
}

.about__content__label{
  @include description-12;
  width: 18rem;
  text-transform: uppercase;
  flex-shrink: 0;

  @include respond-to('<small'){
    word-break: break-all;
    width: 15rem;
    padding-right: 2.5rem;
  }
}

.about__content__description{
  width: 36.2rem;
  min-width: 38.2rem;

  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  @include respond-to('<small'){
    width: 100%;
  }
}
.about__content__media{
  position: relative;
  // height: 43.7rem;
  // width: 30.9rem;



  .about__content:nth-child(3) & {
    position: relative;
    height: 80.8rem;
    width: 53.8rem;
    margin-left: 17.8rem;


  }
  .about__content:nth-child(5) & {
    height: 60rem;
    width: 96rem;
    margin-left: 18rem;
  }

  .about__content:nth-child(8) & {
    height: 52rem;
    width: 84.2rem;
    margin-right: 12rem;
  }

  .about__content:nth-child(9) & {
    height: 85.8rem;
    width: 60.8rem;
    margin-left: 22rem;
    transform: rotate(1deg);
  }

  @include respond-to('<small'){

    .about__content:nth-child(3) & {
      width: 100%;
      height: auto;
      margin-left: 0;
    }

    .about__content:nth-child(5) &, .about__content:nth-child(8) &  {
      width: 100vw;
      height: auto;
      margin-left: 0;
      margin-right: 0;
      align-self: center;
    }
    .about__content:nth-child(9) & {
      width: 100%;
      height: auto;
      margin-left: 0;

    }
  }
}

