.about__gallery{
  height: 58.6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;

  &:first-child {
    margin-top: 10rem;
  }
}

.about__gallery__wrapper{
  display: flex;
  align-items: center;

  column-gap: 8rem;
}

.about__gallery__media{
  position: relative;
  height: 43.7rem;
  width: 30.9rem;

}
