@use './description.scss' as *;
@use './title.scss' as *;
@use '../responsive.scss' as *;

@mixin vertical-title {
  display: flex;
  align-items: center;
  position: absolute;
  left: -50%;
  top: 50%;
  transform: rotate(-90deg) translate(0%, -100%);
}

@mixin vertical-titles__title{
  @include title-200;

  // padding-top: 2rem;
  padding-top: 1rem;
}

@mixin vertical-titles__label {
  @include description-12;

  letter-spacing: 0.1rem;
  margin: 0 3rem;
  text-transform: uppercase;
  transform: rotate(90deg);
  text-align: center;

  @include respond-to('<small'){
    font-size: 1.8rem;
  }
}
