@use '../utils/mixins.scss' as *;
@use '../utils/responsive.scss' as *;
@use '../utils/variables.scss' as *;
@use '../utils/functions.scss' as *;


.preloader {
  @include cover;

  background-color: $background-rose;
  color: $text-white;
  text-align: center;

  z-index: z('preloader');

}
.preloader__text{
  @include title-53;

  line-height: 1;
  max-width: 66rem;
  opacity: 0;

  > span {
    overflow: hidden;
    display: inline-block;
    > span {
      display: inline-block;
      transform: translateY(100%)
    }
  }
}


.preloader__number{
  @include description-14;
  position: absolute;
  bottom: 7.3rem;
  left: 50%;
  transform: translateX(-50%);

  @include respond-to('<small'){
    font-size: 2.5rem;
  }
}
