// $color-primary: #C97164;
$color-white: #fff;

$background-rose: #C97164;
$background-sand: #BC978C;

$text-white: $color-white;
$font-george-x: 'George X';
$font-suisse-bp: 'Suise BP';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'navigation',
  'content'
);

$font-title: $font-george-x;
