// $color-primary: #C97164;
$quarter-white: #F9F1E7;
$background-rose: #C97164;
$background-sand: #BC978C;
$background-blue: #B2B8C3;
$color-bright-grey: #37384C;


$color-white: $quarter-white;
$text-white: $color-white;
$font-george-x: 'George X';
$font-suisse-bp: 'Suise BP';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'preloader': 4,
  'cursor': 3,
  'navigation': 2,
  'content' : 1,

);

$font-title: $font-george-x;
