@use '../utils/variables.scss' as *;
@use '../utils/responsive.scss' as *;
@use '../utils/mixins.scss' as *;

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  // cursor: none;
  font-size: calc((100vw / 1920) *10);
  @include cover;
  position: fixed;

  overflow: hidden;

  background-color: $background-rose;
  color: $quarter-white;

  @include respond-to('<small'){
    font-size: calc((100vw / 750) *10);
  }

}

body {
  font-family: $font-suisse-bp;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;


  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

canvas {
  position: relative;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
  // transition: opacity 0.4s ease;


  // opacity: 0;
  // &.loaded {
  //   opacity: 1;
  // }
}

figure > img {
  object-fit: cover;
  width: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

[data-animation="title-translate"]{
  > span {
    display: inline-block;
    overflow: hidden;
    > span {
      display: inline-block;
      // transform: translateY(100%);
    }
  }
}

// .span__wrapper {
//   display: inline-block;
//   overflow: hidden;

//   .title-translate {
//     display: inline-block;
//     transform: translateY(100%);
//   }
// }
