@use '../../utils/mixins.scss' as *;
@use '../../utils/variables.scss' as *;
@use '../../utils/responsive.scss' as *;

$media_height: 54rem;
$media_width:38.25rem;

.collections{
  @include page;
  @include cover;

  // background-color: $background-sand;
  // color: $text-white
}
.collections__wrapper{
  @include cover;
  overflow: hidden;
}
.collections__titles{
  display: flex;
  position: absolute;
  top: 50%;
  transform: rotate(-90deg) translate(50%, -50%);
  align-items: center;
  user-select: none;
  @include respond-to('<small'){
    display: none;
  }
}
.collections__titles__title{
  @include vertical-titles__title
}

.collections__titles__label {
  @include vertical-titles__label
}

.collections__gallery{
  @include cover;
  visibility: hidden;
}
.collections__gallery__wrapper{
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: calc(50% - $media_width / 2);
  transform: translateY(-50%);

  column-gap: 10.6rem;
}
.collections__gallery__link{}
.collections__gallery__media{
  // height: 63.1rem;
  // width: 44.7rem;
  height: $media_height;
  width: $media_width;
  position: relative;

  // @include respond-to('>large'){
  //   height: 44rem;
  // }
  // width: 35.76rem;
  img{
    height: 100%;
    object-fit: cover;
    // width: 100%;
  }
}

.collections__content{
  @include cover;

  pointer-events: none;

  @include respond-to('<small'){
    display: none;
  }
}
.collections__article{
  position: absolute;
  bottom: 8.7rem;
  left: 8rem;
  pointer-events: none;
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 400ms linear, transform 400ms ease-out;
}

.collections__article-active {
  transform: translateY(0);
  transition-delay: 200ms;
  opacity: 1;
  pointer-events: auto
}
.collections__article__title{
  @include title-60;
}
.collections__article__description{
  @include description-16;
  max-width: 44rem;
}

.collections__mobile {
  display: flex;
  position: absolute;
  bottom: 5rem;

  @include respond-to('>small'){
    display: none;
  }
}

.collections__mobile__item{
  padding-left: 5rem;
  width: 100vh ;
}

.collections__mobile__item__label{
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.collections__mobile__item__title{
  font-family: $font-title;
  font-size: 12rem;
}
